[submodule "assignment-6-fun-with-gui-PengDeiDei"]
	path = assignment-6-fun-with-gui-PengDeiDei
	url = .\\assignment-4-further-weighted-grades-PengDeiDei\\
[submodule "assignment-7-data-files-and-gui-PengDeiDei"]
	path = assignment-7-data-files-and-gui-PengDeiDei
	url = .\\assignment-7-data-files-and-gui-PengDeiDei\\
[submodule "hello-world-PengDeiDei"]
	path = hello-world-PengDeiDei
	url = .\\hello-world-PengDeiDei\\
[submodule "weighted-grades-PengDeiDei"]
	path = weighted-grades-PengDeiDei
	url = .\\weighted-grades-PengDeiDei\\
